/* RESET E COMMON GENERALE */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fredoka One', cursive;
}

.clearfix::after{
    display: table;
    content: "";
    clear: both;
}



/* MAIN */
main{
    width: 80%;
    margin: auto;
    /* debug */
    height: 600px;
    background-color: aquamarine;
}


/* SEZIONE ALTA */
.top  h1{
    text-align: center;
    line-height: 2em;
    font-size: 2.2rem;
    color: #B7275A;
}

.top p{
    text-align: center;
}

/* SEZIONE BASSA */

