/* RESET E COMMON GENERALE */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fredoka One', cursive;
}

.clearfix::after{
    display: table;
    content: "";
    clear: both;
}



/* MAIN */
main{
    width: 80%;
    margin: auto;
}


/* SEZIONE ALTA */
.top h1{
    text-align: center;
    line-height: 2em;
    font-size: 2.2rem;
    color: #B7275A;
}

/* SEZIONE BASSA */
.row{
    margin: 2em 0;
    display: flex;
    justify-content: space-between;
}

.item{
    width: calc(100% / 3 - (3em / 2));
    background-color: #0C0B12;
    box-shadow: 4px 4px 4px;
}

.item img{
    float: left;
    width: 80px;
}

.item div{
    float: left;
    padding: 0.4em 0.8em;
    color: white;
}

